form.new-song {
    width: 90%;
    
    section {
        padding: 8px;

        &.artist {

            .form-group {
                height: 100%;
            }

            select {
                height: 80%;
            }
        }
    }

    button:disabled {
        background-color: #EDEDED;
    }

    textarea {
        resize: none;
    }

    .row.action {
        flex-direction: row-reverse;

        button:first-of-type {
            margin-left: .5rem;
        }
    }
}

form.test {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #424242;
    border-radius: 4px;
    padding: 16px;

    input {
        width: 100%;
    }
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

h4 {
    color: #424242;
}

::ng-deep {
    fa-icon {
        margin-right: 8px;
    }
}