::ng-deep {

    mat-list {
        width: 60%;
    }

    mat-list-item {
        background-color: #424242;
        margin: .2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .mat-list-item-content {
            justify-content: space-between;    
        }

        .left {
            p {
                margin: 0;
                font-size: .7rem;
                color: blanchedalmond;
            }
        }

        
    }

}

ul {
    width: 60%;

    li {
        display: flex;
        background-color: #FBFBFB;
        justify-content: space-between; 

        &.list-group-item {
            padding: .3rem 1rem !important;
        }

        .left {
            span {
                font-size: .7rem;
                color: gray;
            }
        }

        .right {

            fa-icon {
                font-size: .6rem;
                margin: 0 1rem;
            }

            span {
                font-size: 1rem;
            }
        }

        
    }
}