<app-action-bar class="top-bar"
    buttonLabel="Nouveau morceau"
    (search)="filter($event)"
    (addItem)="addItem()">
</app-action-bar>

<div class="songs-content">

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let song of songs" (click)="seeSong(song)">
            <div class="left">
                {{song.title}} <span>{{formatArtists(song)}}</span>
            </div>
            <div class="right">
                <fa-icon *ngIf="song.songPath" [icon]="faMusic"></fa-icon>
                <span>{{formatDuration(song.durationInSec)}}</span>
            </div>
            
        </li>
    </ul>
</div>
