ul {
    width: 60%;
    margin: auto;

    li {
        display: flex;
        background-color: #FBFBFB;
        justify-content: space-between; 
        cursor: default;

        &:hover {
            cursor: pointer;
            background-color: #dbdbdb6b;
        }

        &.list-group-item {
            padding: .3rem 1rem !important;
        }

        .left {
            span {
                font-size: .7rem;
                color: gray;
            }
        }

        .right {

            fa-icon {
                font-size: .6rem;
                margin: 0 1rem;
            }

            span {
                font-size: 1rem;
            }
        }
 
    }
}