<button mat-raised-button (click)="addArtist()">
    Ajouter un artiste
</button>


<div class="col-sm-10 card-container">

    <mat-card *ngFor="let artist of artists" class="artist-card" (click)="seeArtist(artist)">

        <img [src]="artist.imgUrl ? artist.imgUrl : '../../../assets/oac.jpg'" alt="avatar">

        <div>
            <h2>{{artist.name}}</h2>
            <div class="social-networks">
                <fa-icon *ngIf="artist.facebook" [icon]="faFacebook"></fa-icon>
                <fa-icon *ngIf="artist.instagram" [icon]="faInstagram"></fa-icon>
                <fa-icon *ngIf="artist.youtube" [icon]="faYoutube"></fa-icon>
            </div>
        </div>


    </mat-card>
</div>

