<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="OnAir Connexion" src="../assets/oac.jpg">
</div>
<h2>Here are some links to help you start: </h2>

<button mat-button>Basic</button>
<button mat-button color="accent">Accent</button>
<button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
<button>TEST</button>

<router-outlet></router-outlet>
