.action-btn {
    float: right;
    
    button:last-of-type {
        margin-left: 8px;
    }
}

div.top {
    position: absolute;
    top: 4px;
    right: 8px;
    width: 100%;
    text-align:right;    
    
    button.close {
        color: blanchedalmond;
        font-size: 1.4rem;        
        outline: none;
    }
}