td {
    vertical-align: middle;
    
    fa-icon {
        cursor: pointer;
        color: #424242;
    }

    &.icon {
        text-align: right;
    }

    &.label {
        width: 35%;
    }

    &.no-artist {
        border: none;
        font-style: italic;
        color: #721c24;
    }

    &.no-border {
        border: none;
    }

}