/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: blanchedalmond;
    background-color: black;
    background-image: url('./assets/oac.jpg');
    background-size: 200px 200px;
    background-position: bottom 16px right 16px;
    background-repeat: no-repeat;    
}

.cdk-overlay-pane {
    position: absolute !important;
    top: 5rem !important;
    min-width: 20% !important;
}

button {
    outline: none !important;
}